/* header */
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
  height: 50px;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}
header .logoHeader {
  height: 70px;
}
header .logoHeader img {
  height: 50px;
}
header a {
  text-decoration: none;
  color: #EC4A7D;
}
header .menuToggle {
  display: none;
}
@media (max-width: 920px) {
  header .menuToggle {
    display: block;
  }
}
header .menuToggle img {
  height: 30px;
}
header .nav {
  display: block;
}
header .nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
header .nav ul li {
  font-family: "Montserrat", sans-serif;
  color: #EC4A7D;
  display: inline;
  margin-right: 10px;
}
header .navMenu {
  display: none;
}
header .barraPesquisa {
  display: flex;
  justify-content: center;
}
header .barraPesquisa input {
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  width: 250px;
  height: 25px;
  background-color: #dcdcdc;
}
header .barraPesquisa .bttLupa {
  border: none;
  background: none;
}
header .barraPesquisa .imgLupa {
  height: 30px;
}
header .imgCarrinho, header .imgConta {
  height: 30px;
}
header .categoriasMenu {
  position: relative;
}
header .categoriasMenu .submenu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  padding: 10px;
  list-style: none;
  margin: 0;
  border: 1px solid #dcdcdc;
  z-index: 1;
  top: 100%;
  left: 0;
  width: 120px;
}
header .categoriasMenu .submenu li {
  margin-bottom: 5px;
  display: block;
}
header .categoriasMenu .submenu li a {
  color: #EC4A7D;
  text-decoration: none;
  display: block;
  padding: 5px;
}
header .categoriasMenu .submenu li a:hover {
  text-decoration: underline;
  background-color: #f0f0f0;
}
header .categoriasMenu:hover .submenu {
  display: block;
}

@media (max-width: 920px) {
  .logoHeader {
    display: none;
  }
  .nav {
    display: none !important;
  }
  .navMenu {
    display: block;
    width: 50%;
    background-color: #ffffff;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 1;
  }
  .navMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .navMenu ul li {
    font-family: "Montserrat", sans-serif;
    color: #EC4A7D;
    display: block;
    margin: 10px 0;
  }
}
/* Footer */
footer {
  background-color: #EC4A7D;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #e0e0e0;
  font-family: "Montserrat", sans-serif;
  margin-top: 100px;
}
footer .footerContainer {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
}
footer .footerContainer .footerLogo {
  text-align: left;
  margin-right: 20px;
}
footer .footerContainer .footerLogo img {
  max-width: 200px;
}
footer .footerContainer .footerLogo p {
  margin: 10px 0 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
footer .footerContainer .icones {
  margin-top: 10px;
}
footer .footerContainer .icones a {
  margin: 0 10px;
  display: inline-block;
}
footer .footerContainer .icones a img {
  width: 24px;
  height: 24px;
}
footer .footerColunas {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}
footer .footerColunas .footerColuna {
  width: 30%;
  margin-bottom: 20px;
}
footer .footerColunas .footerColuna h3 {
  margin-top: 0;
  font-size: 16px;
  color: white;
}
footer .footerColunas .footerColuna ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0;
}
footer .footerColunas .footerColuna ul li {
  margin-bottom: 10px;
}
footer .footerColunas .footerColuna ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}
footer .footerColunas .footerColuna ul li a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
  }
  .footerContainer {
    flex-direction: column;
  }
}
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.cadastroPage {
  display: flex;
  justify-content: center;
}

.tCadastro {
  font-family: "Alfa Slab One", sans-serif;
  font-size: 24px;
}

.cadastroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  background-color: #fdfdfd;
  width: 380px;
  height: 650px;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 50px;
  margin-top: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cadastroForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.cadastroForm input {
  padding: 8px;
  border: 1px solid #EC4A7D;
  border-radius: 4px;
  width: 100%;
  max-width: 280px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.cadastroForm input::placeholder {
  font-size: 14px;
  color: black;
}
.cadastroForm label {
  font-size: 14px;
  color: black;
  font-weight: 550;
  width: 280px;
  display: block;
  margin-bottom: 5px;
}
.cadastroForm button {
  font-size: 18px;
  color: white;
  background-color: #EC4A7D;
  width: 100%;
  max-width: 280px;
  height: 35px;
  border-radius: 15px;
  border: none;
  margin-top: 15px;
  box-sizing: border-box;
  cursor: pointer;
}

/*# sourceMappingURL=cadastroPage.css.map */
