@charset "UTF-8";
/* header */
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
  height: 50px;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}
header .logoHeader {
  height: 70px;
}
header .logoHeader img {
  height: 50px;
}
header a {
  text-decoration: none;
  color: #EC4A7D;
}
header .menuToggle {
  display: none;
}
@media (max-width: 920px) {
  header .menuToggle {
    display: block;
  }
}
header .menuToggle img {
  height: 30px;
}
header .nav {
  display: block;
}
header .nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
header .nav ul li {
  font-family: "Montserrat", sans-serif;
  color: #EC4A7D;
  display: inline;
  margin-right: 10px;
}
header .navMenu {
  display: none;
}
header .barraPesquisa {
  display: flex;
  justify-content: center;
}
header .barraPesquisa input {
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  width: 250px;
  height: 25px;
  background-color: #dcdcdc;
}
header .barraPesquisa .bttLupa {
  border: none;
  background: none;
}
header .barraPesquisa .imgLupa {
  height: 30px;
}
header .imgCarrinho, header .imgConta {
  height: 30px;
}
header .categoriasMenu {
  position: relative;
}
header .categoriasMenu .submenu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  padding: 10px;
  list-style: none;
  margin: 0;
  border: 1px solid #dcdcdc;
  z-index: 1;
  top: 100%;
  left: 0;
  width: 120px;
}
header .categoriasMenu .submenu li {
  margin-bottom: 5px;
  display: block;
}
header .categoriasMenu .submenu li a {
  color: #EC4A7D;
  text-decoration: none;
  display: block;
  padding: 5px;
}
header .categoriasMenu .submenu li a:hover {
  text-decoration: underline;
  background-color: #f0f0f0;
}
header .categoriasMenu:hover .submenu {
  display: block;
}

@media (max-width: 920px) {
  .logoHeader {
    display: none;
  }
  .nav {
    display: none !important;
  }
  .navMenu {
    display: block;
    width: 50%;
    background-color: #ffffff;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 1;
  }
  .navMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .navMenu ul li {
    font-family: "Montserrat", sans-serif;
    color: #EC4A7D;
    display: block;
    margin: 10px 0;
  }
}
/* Footer */
footer {
  background-color: #EC4A7D;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #e0e0e0;
  font-family: "Montserrat", sans-serif;
  margin-top: 100px;
}
footer .footerContainer {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
}
footer .footerContainer .footerLogo {
  text-align: left;
  margin-right: 20px;
}
footer .footerContainer .footerLogo img {
  max-width: 200px;
}
footer .footerContainer .footerLogo p {
  margin: 10px 0 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
footer .footerContainer .icones {
  margin-top: 10px;
}
footer .footerContainer .icones a {
  margin: 0 10px;
  display: inline-block;
}
footer .footerContainer .icones a img {
  width: 24px;
  height: 24px;
}
footer .footerColunas {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}
footer .footerColunas .footerColuna {
  width: 30%;
  margin-bottom: 20px;
}
footer .footerColunas .footerColuna h3 {
  margin-top: 0;
  font-size: 16px;
  color: white;
}
footer .footerColunas .footerColuna ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0;
}
footer .footerColunas .footerColuna ul li {
  margin-bottom: 10px;
}
footer .footerColunas .footerColuna ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}
footer .footerColunas .footerColuna ul li a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
  }
  .footerContainer {
    flex-direction: column;
  }
}
/* Capa */
.capa {
  background-color: #EC4A7D;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  box-sizing: border-box;
}
.capa .capaContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  max-height: 400px;
  margin: 0 auto;
}
.capa .capaContainer .textoCapa {
  max-width: 50%;
  height: 300px;
  display: flex;
  flex-direction: column;
}
.capa .capaContainer .textoCapa h1 {
  font-size: 40px;
  font-family: "Alfa Slab One", sans-serif;
  color: black;
}
.capa .capaContainer .textoCapa h2 {
  font-size: 22px;
  margin: 10px 0;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Montserrat", sans-serif;
}
.capa .capaContainer .textoCapa p {
  font-size: 15px;
  margin: 0;
}
.capa .capaContainer .imagemCapa img {
  width: 100%;
  height: auto;
  max-height: 400px;
  max-width: 500px;
  object-fit: cover;
}

/* Lançamento */
.lancamentoContainer {
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
}
.lancamentoContainer h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: "Alfa Slab One", sans-serif;
}
.lancamentoContainer .lacamentos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 0 auto;
  max-width: 1200px;
  text-align: left;
}
.lancamentoContainer .lancamentoProduto {
  box-sizing: border-box;
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
}
.lancamentoContainer .lancamentoProduto img {
  width: 100%;
  height: auto;
  display: block;
}
.lancamentoContainer .lancamentoProduto .lancamentoDetalhes {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
}
.lancamentoContainer .lancamentoProduto .lancamentoDetalhes p {
  margin: 5px 0;
  text-align: left;
}
.lancamentoContainer .lancamentoProduto .nomeLancamento {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.lancamentoContainer .lancamentoProduto .precoLancamento {
  color: #EC4A7D;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.lancamentoContainer .lancamentoProduto .bttLancamento {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #EC4A7D;
  color: white;
  text-decoration: none;
  border-radius: 18px;
  font-size: 14px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.lancamentoContainer .lancamentoProduto .bttLancamento:hover {
  transform: scale(1.2);
}

/* Mais Vendidos */
.maisVendidosContainer {
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
}
.maisVendidosContainer h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: "Alfa Slab One", sans-serif;
}
.maisVendidosContainer .maisVendidos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 0 auto;
  max-width: 1200px;
  text-align: left;
}
.maisVendidosContainer .maisVendidosProduto {
  box-sizing: border-box;
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
}
.maisVendidosContainer .maisVendidosProduto img {
  width: 100%;
  height: auto;
  display: block;
}
.maisVendidosContainer .maisVendidosProduto .maisVendidosDetalhes {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
}
.maisVendidosContainer .maisVendidosProduto .maisVendidosDetalhes p {
  margin: 5px 0;
  text-align: left;
}
.maisVendidosContainer .maisVendidosProduto .nomeMaisVendidos {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.maisVendidosContainer .maisVendidosProduto .precoMaisVendidos {
  color: #EC4A7D;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.maisVendidosContainer .maisVendidosProduto .bttMaisVendidos {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #EC4A7D;
  color: white;
  text-decoration: none;
  border-radius: 18px;
  font-size: 14px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.maisVendidosContainer .maisVendidosProduto .bttMaisVendidos:hover {
  transform: scale(1.2);
}

/* Categorias */
.categoriaContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.categoriaContainer .categoria {
  background-color: #EC4A7D;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 1000px;
}
.categoriaContainer .categoria h1 {
  color: black;
  font-size: 36px;
  margin-bottom: 20px;
  font-family: "Alfa Slab One", sans-serif;
}
.categoriaContainer .categoria .categoriaOpcoes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  font-family: "Montserrat", sans-serif;
}
.categoriaContainer .categoria .categoriaOpcoes .opcaoCategoria {
  background-color: white;
  border-radius: 15px;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease;
  text-decoration: none;
  color: black;
  max-width: 400px;
  max-height: 200px;
}
.categoriaContainer .categoria .categoriaOpcoes .opcaoCategoria:hover {
  transform: scale(1.05);
}
.categoriaContainer .categoria .categoriaOpcoes .opcaoCategoria img {
  width: 100%;
  border-radius: 10px;
  max-width: 300px;
  max-height: 150px;
}
.categoriaContainer .categoria .categoriaOpcoes .opcaoCategoria p {
  margin-top: 10px;
  font-size: 22px;
}

/*# sourceMappingURL=mainPage.css.map */
